
body{
  background-color: #000000;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1cm;
  color: #AAAAAA;
}
/*Placing the score counters and the beat counter*/
#header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

hr {
  border: none;
  height: 1px;
  width: 50%;
  background-color: #777777;
}

#copyright {
  font-size: .5cm;
  color: #777777;
}
